@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@600&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Oxanium', sans-serif;  /* Возвращаем шрифты */
    background-color: #202225;  /* Фон для всего проекта */
    color: #fff;  /* Основной цвет текста */
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}
